@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

body {
   font-family: "Raleway", sans-serif;
}

.rancho {
    font-family: "Rancho", cursive;
}


@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}



a.active {
    color:#ffffff;
    font-weight: 500;
    background-color: #00b4d8;

}

.dark a.active {
  background-color: #03045e;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: rgba(238,238,238,0.3);
  --color-accent: #e0e0e0;
  --color-cardBg: #48cae4;
  --color-buttonBg: #f94144;
  --color-buttonText: #ffffff;
  --color-navbarBg: #2196f3;
  --logo-text: #deff0a;
  --color-border: rgba(218,218,218,0.48)
  
}


.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}